.headerhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
}

@media only screen and (max-width:427px) {
    .headerhead {
        font-size: 20px;
    }
  }